* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Acme', sans-serif;
}

   body::-webkit-scrollbar {
    width: 12px;
  }
  
   body::-webkit-scrollbar-track {
    background: rgb(94 94 94);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(94 94 94);
    border-radius: 20px;
    border: 2px solid rgb(141, 141, 141);
  }

  .headerPage{
    position: absolute;
    top: -25px;
    left: 160px;
    width: 79%;
    margin: 0px auto 50px;
    border-radius: 50px;
    padding: 16px 0;
  }

  .namePage{
    font-size: 45px;
    color: honeydew;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.background-70-70-70{
    position: relative;
    color: rgb(212, 212, 212);
    background: rgb(70 70 70);
}

.background-gradient {
    position: relative;
    background: linear-gradient(to top right, rgb(8, 8, 8), rgb(27, 27, 27), rgb(46, 46, 46), rgb(64, 64, 64), rgb(83, 83, 83), rgb(94 94 94), rgb(94 94 94), rgb(94 94 94), rgb(94 94 94), rgb(95, 95, 95), rgb(94, 94, 94), rgb(92, 92, 92));
}
.lineUnderNamePage {
    margin-top: 8px;
    height: 5px;
    background: radial-gradient(ellipse at center,#ddd 10%,rgba(255,255,255,0) 67%); 
}
.shadow {
    -webkit-box-shadow: 19px 16px 28px 0px rgba(232, 232, 232, 0.2);
    -moz-box-shadow: 19px 16px 28px 0px rgba(232, 232, 232, 0.2);
    box-shadow: 19px 16px 28px 0px rgba(232, 232, 232, 0.2);
}



