* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Acme', sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(94 94 94);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(94 94 94);
    border-radius: 20px;
    border: 2px solid rgb(141, 141, 141);
  }

  .namePage{
    position: absolute;
    top: -25px;
    left: 160px;
    width: 79%;
    margin: 0px auto 50px;
    font-size: 45px;
    color: honeydew;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: 24px 0;
    border-radius: 50px;
}

.background-70-70-70{
    position: relative;
    color: rgb(212, 212, 212);
    background: rgb(70 70 70);
}

.background-gradient {
    position: relative;
    background: linear-gradient(to top right, rgb(8, 8, 8), rgb(27, 27, 27), rgb(46, 46, 46), rgb(64, 64, 64), rgb(83, 83, 83), rgb(94 94 94), rgb(94 94 94), rgb(94 94 94), rgb(94 94 94), rgb(95, 95, 95), rgb(94, 94, 94), rgb(92, 92, 92));
}
.lineUnderNamePage {
    margin-top: 8px;
    height: 5px;
    background: radial-gradient(ellipse at center,#ddd 10%,rgba(255,255,255,0) 67%); 
}
.shadow {
    -webkit-box-shadow: 19px 16px 28px 0px rgba(232, 232, 232, 0.2);
    -moz-box-shadow: 19px 16px 28px 0px rgba(232, 232, 232, 0.2);
    box-shadow: 19px 16px 28px 0px rgba(232, 232, 232, 0.2);
}



nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0px;
    background-color: rgb(94 94 94);
}

.nav-wrapper {
    z-index: 100;
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    opacity: 0.8;
}

nav a:hover {
    opacity: 1;
    border-bottom: 2px solid ghostwhite;
}

.logotip {
    background: center url('./Ме-removebg-preview.png');
    background-size: cover;
    height: 70px;
    width: 120px;
}


.homePage {
    min-height: 872px;
}

.text-hello {
    width: 50%;
    font-size: 34px;
    color: rgb(255, 247, 231);
    letter-spacing: 1px;
    padding: 228px 0px 20px 216px;
}

.photo {
    position: absolute;
    opacity: 0;
    top: 10px;
    right: 51px;
    background-image: url('./IMG_6330-removebg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 862px;
    width: 1070px;
    filter: grayscale(40%);
}

.opacityPhoto {
    transition-duration: 2s;
    opacity: 1;
}

.opacityNav {
    transition-duration: 0.5s;
    opacity: 0;
}

.cv-wrap {
    width: 12%;
    text-align: center;
    margin-left: 216px;
}
.logo-download {
    display: inline-block;
    margin-left: 10px;
    background-image: url('./download-from-cloud_icon-icons.com_54289.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 26px;
    height: 22px;
}

.link-cv, input[type='submit'] {
    display: inline-block;
    width: 100%;
    background: #b9cfcc;
    border-radius: 10px;
    padding: 8px;
    font-size: 19px ;
    text-decoration: none;
    transition-duration: 0.5s;
    color: rgb(51, 51, 51);
    cursor: pointer;
}

.link-cv:hover, input[type='submit']:hover {
    background-color: rgb(149, 199, 195);
}

/* ///////////////////////////////////////////// */

.about-me-page h2 {
    background: rgb(70 70 70);
  
}

.wrapper-timeline {
    display: flex;
}

.timeline h5 img {
    width: 30px;
    height: 30px;
}
.timeline h5 {
    width: 31%;
    margin: 0 0 20px 70px;
    text-align: center;
    font-size: 30px;
    color: #eeeeee;
    letter-spacing: 1.5px;
    border-bottom: 4px solid #63e8ff;
}

.timeline {
    position: relative;
    padding: 140px 0;
    width: 600px;
    left: 150px;
}
.timeline::before{
    margin-top: 5px;
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 56%;
    background: radial-gradient(ellipse at center,#ddd 10%,rgba(255,255,255,0) 81%);
}

.line-38::before{
    height: 38%;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px;
}

.timeline ul li{
    float: right;
    text-align: left;
    clear: both;
}

.content-timeLine {
    padding-bottom: 20px;
}

.timeline ul li::before{
    content: '';
    position: absolute;
    top: 24px;
    left: -7px;
    width: 10px;
    height: 10px;
    background: #5f5f5f;
    border: 3px solid #56e1f7;
    border-radius: 50%;
}

.timeline ul li h3 {
    letter-spacing: 2px;
    color: rgb(235, 235, 235);
}
.timeline ul li .time {
    width: 83px;
    position: absolute;
    top: 12px;
    left: -80px;
    margin: 0;
    padding: 8px 16px;
}

.timeline ul li .time h4{
    margin: 0;
    padding: 0;
    color: rgb(235, 235, 235);
    letter-spacing: 2px;
}

.wrapper-softSkills {
    position: absolute;
    width: 350px;
    bottom: 100px;
    left: 120px;
}

.wrapper-softSkills h3{
    font-size: 30px;
}

.wrapper-softSkills li {
    margin: 15px 0;
    list-style: none;
}

.bar {
    background-color: #353b48;
    display: block;
    height: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span {
    height: 2px;
    float: left;
    background-color: #35c4c4;
}
.wrapper-softSkills li p {
    padding: 3px;
}
/* //////////////////////////////////////////////////// */

.wrap-skills {
    width: 70%;
    margin: 0 auto;
    padding: 170px 0 40px;
    display: flex;
    justify-content: space-between;
}

.skills-page h2 {
    background: rgb(95, 95, 95);
}

.progress{
    position: relative;
    width: 120px;
    height: 120px;
}

.progress > span{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.progress .progress-bar{
    position: absolute;
    width: 100%;
    height: 100%;
    border-width: 9px;
    border-style: solid;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-bottom-right-radius: 80px;
    border-left: 0;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress .logo {
    position: absolute;
    top: 19%;
    left: 37%;
    width: 32px;
    height: 32px;
    background-size: cover;
}

.progress .logo-html {
    background-image: url('./html-5.png');
}

.progress .logo-js {
    background-image: url('https://edu.softline.by/upload/catalog/small/1606726731_logo-javascript-png.png');
}

.progress .logo-css {
    background-image: url('https://cdn-icons-png.flaticon.com/512/732/732190.png');
}

.progress .logo-react {
    background-image: url('https://cdn-icons-png.flaticon.com/512/1126/1126012.png');
}


.progress .progress-value{
    position: absolute;
    border: 3px solid darkgray;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    font-size: 18px;
    color: rgb(219, 219, 219);
    line-height: 135px;
    text-align: center;
    top: 5%;
    left: 5%;
}

.progress.orange .progress-bar{
    border-color: #e75530;

}
.progress.yellow .progress-bar{
    border-color: #fcff35;
}
.progress.blue .progress-bar{
    border-color: #35b5ff;
}
.progress.green .progress-bar{
    border-color: #39ffb3;
}

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(60deg);
    }
}

@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

.wrap-workflow {
    padding: 20px 0 120px;
}

.workflow {
    display: flex;
    width: 50%;
    margin: 30px auto 0;
    justify-content: space-between;
    padding-bottom: 50px;

}

.wrap-workflow h4 {
    margin-top: 30px;
    text-align: center;
    font-size: 23px;
    color: honeydew;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* //////////////////////////////////////////////////////// */
.contacts-links {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 40px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    list-style: none;
}

.contacts-links :last-child ::after {
    content: "";
    display: block;
    margin: 0px auto;
    width: 2px;
    height: 90px;
    background: radial-gradient(ellipse at center,#ddd 10%,rgba(255,255,255,0) 80%); 
}
.contact-link{
    margin-bottom: 3px;
    width: 40px;
    height: 40px;
    opacity: 0.3;
    transition: 0.3s;
}

.contacts-links a :hover {
    opacity: 1;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
.works h2 {
    background: rgb(70 70 70);
}

.wrapper-myWorks {
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding: 150px 0 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block-link-work{
    display: block;
    width: 270px;
    height: 170px;
    margin: 0 20px 60px 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    filter: grayscale(100%);
    transition-duration: 0.5s;

}

.cinema {
    background-image: url('./cinema.png');
}
.library {
    background-image: url('./Library.png');
}
.todo {
    background-image: url('./todoList.png')
}
.slider {
    background-image: url('./slider.png')
}
.tag {
    background-image: url('./Tag.png');
}

.block-link-work:hover{
    filter: grayscale(0);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
.contacts-page h2 {
    background: rgb(95, 95, 95);
}

.contacts-page .wrapper-form {
    width: 34%;
    margin: 0 auto;
    padding: 100px 0 100px;
}

.contacts-page .wrapper-form h3 {
    margin-top: 40px;
    font-size: 25px;
    color: seashell;
    letter-spacing: 1.5px;
}

input, textarea {
    border: none;
    outline: none;
    font-size: 20px;
    background-color:  #eaeaea;
}

textarea{
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.input-wrapper{
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 50px;
    margin: 20px 0 20px;
    border-radius: 10px;
    background-color:  #eaeaea;
}

.inp-img {
    width: 24px;
    height: 24px;
    background-size: cover;
    margin-right: 15px;
}

.input-img-user {
    background: no-repeat url('./user\ \(1\).png');
}

.input-img-email {
    background: no-repeat url('./envelope.png');
}

.button {
    width: 35%;
}

input{
    color: rgb(87, 87, 87);
    width: 90%;
}




a[href^="mailto:"]::after {
  content: " (&#x1f4e8;&#x2197;&#xfe0f;)";
}