.about-me-page .headerPage {
    background: rgb(70 70 70);
}

.wrapper-timeline {
    display: flex;
}

.timeline h5 img {
    width: 30px;
    height: 30px;
}
.timeline h5 {
    width: 31%;
    margin: 0 0 20px 70px;
    text-align: center;
    font-size: 30px;
    color: #eeeeee;
    letter-spacing: 1.5px;
    border-bottom: 4px solid #63e8ff;
}

.timeline {
    position: relative;
    left: 150px;
    width: 600px;
    padding: 140px 0;
}
.timeline::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 56%;
    margin-top: 5px;
    background: radial-gradient(ellipse at center,#ddd 10%,rgba(255,255,255,0) 81%);
}

.line-38::before{
    height: 38%;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    position: relative;
    width: 50%;
    padding: 20px;
    list-style: none;
}

.timeline ul li{
    float: right;
    text-align: left;
    clear: both;
}

.content-timeLine {
    padding-bottom: 20px;
}

.timeline ul li::before{
    content: '';
    position: absolute;
    top: 24px;
    left: -7px;
    width: 10px;
    height: 10px;
    background: #5f5f5f;
    border: 3px solid #56e1f7;
    border-radius: 50%;
}

.timeline ul li h3 {
    letter-spacing: 2px;
    color: rgb(235, 235, 235);
}
.timeline ul li .time {
    position: absolute;
    top: 12px;
    left: -80px;
    width: 83px;
    margin: 0;
    padding: 8px 16px;
}

.timeline ul li .time h4{
    margin: 0;
    padding: 0;
    color: rgb(235, 235, 235);
    letter-spacing: 2px;
}

.wrapper-softSkills {
    position: absolute;
    width: 350px;
    bottom: 100px;
    left: 120px;
}

.wrapper-softSkills h3{
    font-size: 30px;
}

.wrapper-softSkills div {
    margin: 15px 0;
    list-style: none;
}

.bar {
    display: block;
    height: 5px;
    background-color: #353b48;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span {
    height: 2px;
    float: left;
    background-color: #35c4c4;
}
.wrapper-softSkills div p {
    padding: 3px;
}

@media (max-width: 1370px) {
    .timeline {
        left: 85px;
        width: 541px;
    }
    .timeline h5 {
        font-size: 26px;
    }
    .headerPage {
        left: 136px;
    }
}

@media (max-width: 1230px) {
    .timeline {
        left: 44px;
        width: 525px;
    }
}


@media (max-width: 1100px){
    .timeline h5 img {
        width: 23px;
        height: 23px;
    }
    .timeline {
        left: 52px;
        width: 450px;
    }
    .timeline h5 {
        font-size: 22px;
    }
    .headerPage {
        left: 105px;
    }
}

@media (max-width: 1040px){
    .timeline h5 {
        font-size: 20px;
    }
}

@media (max-width: 1000px){
    .timeline {
        left: -10px;
        width: 417px;
    }
    .wrapper-timeline {
        justify-content: center;
    }
}

@media (max-width: 835px){
    .namePage {
        font-size: 37px;
    }
    .wrapper-timeline{
        font-size: 12px;
    }
    .timeline{
        padding: 100px 0 205px;
    }
    .timeline h5 {
        font-size: 16px;
        width: 30%;
    }
    .timeline h5 img {
        width: 17px;
        height: 17px;
    }
    .wrapper-softSkills h3 {
        font-size: 23px;
    }
}

@media (max-width: 760px){
    .headerPage {
        left: 83px;
    }
}

@media (max-width: 720px){
    .timeline {
        left: -21px;
    }
    .timeline h5 {
        font-size: 14px;
        width: 28%;
    }
    .wrapper-timeline {
        font-size: 11px;
    }
    .timeline h5 img {
        width: 14px;
        height: 14px;
    }
}

@media (max-width: 650px){
    .timeline {
        width: 307px;
    }
    .timeline h5 {
        width: 25%;
    }
}


@media (max-width: 605px){
    .headerPage {
        left: 62px;
    }
}
@media (max-width: 572px){
    .wrapper-timeline {
        display: block;
    }
    .timeline {
        width: 480px;
    }
    .wrapper-softSkills {
        top: 500px;
    }

    .timeline {
        width: 508px;
    }

    .wrapper-timeline {
        font-size: 16px;
    }
    .timeline h5 {
        width: 35%;
        font-size: 26px;
    }
    .timeline h5 img {
        width: 26px;
        height: 24px;
    }

    .timeline {
        padding: 96px 0 154px;
    }

    .wrapper-timeline{
        height: 1100px;
    }

    .wrapper-softSkills {
        top: 840px;
    }

    .timeline::before {
        height: 130%;
    }

    .line-38::before {
        height: 85%;
    }
}

@media (max-width: 490px){
    .wrapper-timeline {
        font-size: 14px;
    }
    .timeline h5 {
        width: 30%;
        font-size: 21px;
    }
    .timeline {
        left: -37px;
    }
    .headerPage {
        left: 52px;
    }
    .wrapper-softSkills {
        left: 80px;
    }
}

@media (max-width: 460px){
    .timeline {
        left: -48px;
        width: 455px;
    }
    .headerPage {
        left: 47px;
    }
}

@media (max-width: 400px){
    .timeline {
        width: 400px;
    }
    .headerPage {
        left: 43px;
    }
    .wrapper-timeline {
        font-size: 12px;
    }
    .timeline h5 {
        width: 27%;
        font-size: 16px;
    }
    .timeline h5 img {
        width: 20px;
        height: 20px;
    }
    .wrapper-softSkills {
        left: 64px;
        width: 319px;
    }
}
