.contacts-page .headerPage {
    background: rgb(95, 95, 95);
}

.wrapper-contacts{
    width: 70%;
    margin: 0 auto;
    padding: 150px 0 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mail img{
    width: 80px;
    height: 75px;
}
.phone img {
    width: 85px;
    height: 62px;
}
.skype img, .vk img, .linkedin img {
    width: 65px;
    height: 62px;;
}

.wrapper-contacts img {
    border-radius: 10px;
    filter: grayscale(50%);
    transition: 0.5s;
}

.wrapper-contacts img:hover{
    filter: grayscale(0);
}


@media (max-width: 830px){
    .wrapper-contacts {
        width: 70%;
        margin: 0 auto;
        padding: 96px 0 70px;
    }
}
@media (max-width: 830px){
    .wrapper-contacts {
        width: 96%;
    }
}

@media (max-width: 540px){
    .phone img {
        width: 66px;
        height: 54px;
    }
    .skype img, .vk img, .linkedin img {
        width: 58px;
        height: 56px;
    }
    .mail img {
        width: 62px;
        height: 62px;
    }
}

@media (max-width: 540px){
    .phone img {
        width: 46px;
        height: 34px;
    }
    .skype img, .vk img, .linkedin img {
        width: 38px;
        height: 36px;
    }
    .mail img {
        width: 42px;
        height: 42px;
    }
}